<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:if="${isLoginFail}">
    <div style="color:red;" id="login-fail">Login Fails</div>
</th:block>
<form action="after-login" method="post">
    <div>
        <input type="text" name="username" placeholder="Phone Number">
    </div>
    <div>
        <input type="number" id="extension" name="extension" placeholder="Extension (Optional)">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <input type="checkbox" name="rememberMe" id="rememberMe">
        <label for="rememberMe">Stay signed in</label>
    </div>
    <div>
        <button id="back" onclick="history.back()">Back</button>
        <input type="submit" id="submitBtn" value="Submit" onclick="submit()"/>
    </div>
</form>
<script type="text/javascript">
var elPhoneNumber = document.getElementById('username');
            var elExtension = document.getElementById('extension');
            var elPassword = document.getElementById('password');
            var elStaySignedIn = document.getElementById('rememberMe');
            localStorage.setItem("t1","aa"+Math.random());
            elExtension.value = localStorage.getItem("t1");
        window.submit = function () {



        };
</script>
</body>
</html>
