<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="/resetPasswordEmailStatus">
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <label for="extensionNumber">Extension</label>
                    <input type="text" class="form-control" id="extensionNumber" name="extensionNumber" placeholder="Extension">
                </div>
                <button type="submit" class="btn btn-default" id="sendEmailButton">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>
