<!DOCTYPE html>

  <body>

    <div>
        <form method="POST" action="/">
            <input id="username" name="username" type="text">
            <input id="password" name="password" type="password">
            <input id="logInButton" type="submit">
            <input id="ssoButton" type="button">
            <input id="googleButton" type="button">
            <input id="rememberMeChceckBox" type="checkbox">
            <span id="errorLabel"></span>
            <a id="forgotPassword" href="#">Forgot Password</a>
        </form>
    </div>

  </body>

</html>
