<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'login')}">

<head>
    <style type="text/css">
        .login-head {
            background: lightgray;
            text-align: center;
        }

    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-4">


        </div>

        <div class="col-md-8">

            <div class="panel">
                <div class="panel-heading login-head" >
                    Sign In
                </div>
                <div class="panel-body">
                    <form id="email_login_form" action="/login/verify">

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" >Email</span>
                            <input type="text" class="form-control" placeholder="Email or Phone Number" aria-describedby="sizing-addon1">

                        </div>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon2">Password</span>
                            <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
                        </div>

                        <button class="btn btn-default" >Login</button>
                    </form>
                </div>

            </div>
        </div>

    </div>

</body>
</html>
