<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'login')}">

<head>
    <style type="text/css">
        .login-head {
            background: lightgray;
            text-align: center;
        }

    </style>
</head>

<body>
<div class="row">
    <div class="col-md-4">


    </div>

    <div class="col-md-8">

        <div class="panel">
            <div id="loginFail">Login Fail</div>
        </div>
    </div>

</div>

</body>
</html>
