<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'login')}">

<head>
    <style type="text/css">
        .login-head {
            background: lightgray;
            text-align: center;
        }

    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-4">


        </div>

        <div class="col-md-8">

            <div class="panel">
                <div class="panel-heading login-head" >
                    Sign In
                </div>
                <div class="panel-body">
                    <form id="phone_number_login_form" action="/login/phone_number" method="post">

                        <div class="input-group input-group-lg">

                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" aria-describedby="sizing-addon1">
                            <span class="input-group-addon"></span>
                        </div>

                        <div class="input-group input-group-lg">

                            <input type="text" class="form-control" id="extension"  name="extension" placeholder="Extension(Optional)" aria-describedby="sizing-addon1">
                            <span class="input-group-addon"></span>
                        </div>

                        <div class="input-group input-group-lg">

                            <input type="text" class="form-control" id="password" placeholder="Password" name="password" aria-describedby="sizing-addon1">
                            <span class="input-group-addon"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-8 col-sm-10">
                                <button class="btn btn-default" >Back</button>
                                <button class="btn btn-default" >Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>

</body>
</html>
